{
    "akahu": {
        "appToken": "",
        "userToken": "",
        "importWeeks": 1
    },
    "firefly": {
        "endpoint": "https://firefly.example.com/",
        "accessToken": "eyyyyyyy.aaaaa.aaaa"
    }
}